body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}

.card {
  max-width: 350px;
  border-radius: 0px;
}
